* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .header-altd{
  width: 100%;
  height: 35px;
  display: block;
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 100000; 
} */
/* .fix-altd{
    width: 100%;
    height: 35px;
    display: block;
    position: fixed;
    top: 0; 
    left: 0;
    z-index: 100000;   
} */
#header-topbar{
    background: #FFFFFF;
    font-size: 12px;
    color: #000000;
    overflow: hidden;
    padding: 0 50px;
}
#marquee-topbar{
    display: flex;
    display: -webkit-flex;
    position: relative;
    animation: marquee 20s linear infinite
}
.topbar-item{
    flex: 0 0 calc(100% / 4);
    -ms-flexbox: 0 0 calc(100% / 4);
    white-space: nowrap;
}
.topbar-item p {
    padding: 4px;
    margin-bottom: 0;
    text-align: center;
    color: #000000;
    font-size: 15px;
}
.header-top {
    
    background-color: #000000;
 
}
.header-bot{
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
    background-color: white;
}
.header-in{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
}
.header-navbar{
    display: none;
}
.logoHome{
    width: 120px;
    height: 80px;
    margin-right: 20px;
   
}
.header-ul{
    list-style: none;
    display: flex;
    flex: 7;
    justify-content: center;
    align-items: center;
    color: black;
   
}
.header-ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 10px 40px;
    font-size: 15px;
    cursor: auto;
    text-transform: uppercase;
    font-weight: 600;
   

}
.header-actionUser{
    display: flex;
    flex: 2;
    align-items: center;
  
}
.header-actionUser-search{
    position: relative;
}
.header-actionUser-search input{
    border: 0;
    background-color: #e8e8e8;
    box-shadow: none;
    height: 43px;
    padding: 0 20px 0 55px;
    border-radius: 5px;
    outline: none;
    width: 550px;
    margin-right: 10px;
}
.header-actionUser-icon{
    position: absolute;
    top: 11px;
    left: 17px;
    width: unset;
    height: unset;
    z-index: 10;
    filter: invert(1);
    color: white;
    font-size: 22px;
    font-weight: 900;
}
.header-muc{
    text-align: center;
    margin: 0 20px;
}
.header-p{
    color: white;
    font-size: 13px;
    font-weight: 400;
}
.header-actionUser-user{
  
    width: 27px;
    height: 27px;
    color: white;
   
}
.link{
    text-decoration: none; 
}
.icon-nav{
    font-size: 16px;
    margin-right: 8px;
}
.header-sigup{
    display: flex;
}
#altd-header{
    width: 100% ;
    height: 35px ;
    display: block ;
    position: fixed ;
    top: 0 ; 
    left: 0 ;
    z-index: 99999  ; 
}
@media screen and (max-width: 1475px){
    .header-ul li{
        font-size: 14px;
       
        padding: 31px 8px;
    }
 
    
}
@media screen and (max-width: 1343px){
    .header-ul li{
        font-size: 12px;
      
       
    }
    .header-actionUser-search input {
        height: 40px;
    }
    .header-actionUser-icon {
        top: 9px
    }
    
}
@media screen and (max-width: 1200px){
    .header-actionUser-search input {
        width: 100%;
    }
}
@media screen and (max-width: 1055px){
    .header-inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-logo{
        padding: 10px 0;
    }
    .header-ul{
        display: none;
    }
    .header-actionUser-search{
        display: none;
    }
    .header-navbar{
        display: flex;
        justify-content: flex-start;
        flex: 1;
    }
    .header-navbar-menu{
        width: 27px;
        height: 100%;
        color: white;
        margin: 12px 5px;
    }
    .header-navbar-search{
        width: 27px;
        height: 100%;
        color: white;
        margin: 12px 5px;
    }
    .header-actionUser{
    flex: 1;
    justify-content: flex-end;
    }

}
 @keyframes marquee {
    0% {
      left: 100%; }
    100% {
      left: -100%; } 
     
    }
   
  
